body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header,
.top,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 200px;
    align-items: center;
    min-width: 500PX;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.lien {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;

}

.lien li a {
    text-decoration: none;
    color: #F9FAF8;
}

.lien li a:hover {
    zoom: 1.1;
}


.top {
    display: flex;
    justify-content: center;
    padding: 100px 200px;
    gap: 15px;
}

.top-left,
.top-right {
    flex: 1;
    justify-content: center;
    min-width: 300px;
}

.top-right {
    display: flex;
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/842401/pexels-photo-842401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;

}

.heromain {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #babcc1;
}

.top-left button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 35px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    border-color: #fff;
}

.top-left button:hover {
    background-color: #ffffff;
    color: #3882F6;
}

.mid1 {
    text-align: center;
}

.mid1 h1 {
    font-weight: bolder;
    font-size: 36px;
    padding-top: 20px;
    margin-bottom: 0;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 240px;
    gap: 20px;
}


.items div img
{
    width: 100%;
    height: auto;
    min-width: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.mid2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 300px;
    background-color: #E5E7EB;
    font-size: 32px;
    font-style: italic;
}
.mid2 p
{
text-align: right;
font-size: 20px;
font-weight: bold;
font-style: normal;
}
.quote
{
    min-width: 400px;
    mix-blend-mode:luminosity;
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 190px;
}

.sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    border-radius: 7px;
    padding: 30px 100px;
    background-color: #3882F6 ;
    color: #F9FAF8;   
    min-width: 600px;
}

.sign div p 
{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
} 
.sign div small
{
    margin: 0;
    font-size: 15px;
    color: #E5E7EB;
} 
.sign div button
{
   
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 35px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border-color: #fff;
 
}

.sign div button:hover
{
    background-color: #ffffff;
    color: #3882F6;
}

.footer {
    text-align: center;
    padding: 20px;
}

div {
    border: px solid black;
}